#navbar-app {

  .container {
    position: relative;

    .navbar-header {
      width: 60px;
      position: relative;
      overflow-y: hidden;

      a {
        .navbar-brand-img {
          position: absolute;
          top: 0px;
          height: 60px;
          width: 60px;
        }
      }
    }
  }}